section.about   
    .container  
        +blockBox("What we do","Story about us","Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad deserunt hic, nisi sapiente eaque culpa corporis ipsum esse soluta ducimus libero vitae vel voluptatem numquam labore eligendi nesciunt totam? Quos.")
        .about-list 
            +aboutItem({
                src:"../images/img-about1.png",
                title:"Lorem ipsum dolor sit amet consectetur adipisicing elit. ",
                iconClass:"fa fa-users"
            })    
            +aboutItem({
                src:"../images/img-about1.png",
                title:"Lorem ipsum dolor sit amet consectetur adipisicing elit. ",
                iconClass:"fa fa-users"
            })    
            +aboutItem({
                src:"../images/img-about1.png",
                title:"Lorem ipsum dolor sit amet consectetur adipisicing elit. ",
                iconClass:"fa fa-users"
            })    
            