footer.footer 
    .container 
        .footer-top 
            .footer-column 
                a(href="index.html").footer-heading.footer-heading--logo MoGo
                p.footer-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem rerum eius harum, expedita provident qui quas ipsum totam natus assumenda sequi officiis culpa tempore cupiditate autem! Placeat modi dignissimos ipsa.
                p.footer-follower <strong>15k</strong> follower
                .footer-social
                    span Follow us:
                    .footer-social-list 
                        a(href="#").footer-social-icon   
                            i.fab.fa-facebook
                        a(href="#").footer-social-icon   
                            i.fab.fa-instagram
                        a(href="#").footer-social-icon   
                            i.fab.fa-youtube
                        a(href="#").footer-social-icon   
                            i.fab.fa-google
                        a(href="#").footer-social-icon   
                            i.fab.fa-twitter
                form.footer-form
                    input(type="email" placeholder="Your email").footer-form-email
                    button.footer-form-button Subcriber
            .footer-column 
                h3.footer-heading Blog 
                a(href="#").footer-blog 
                    img.footer-blog-img(src="./images/img-blogs1.png", alt="")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit 
                        span.footer-blog-date Jan 9, 2016
                a(href="#").footer-blog 
                    img.footer-blog-img(src="./images/img-blogs1.png", alt="")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016
                a(href="#").footer-blog 
                    img.footer-blog-img(src="./images/img-blogs1.png", alt="")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        span.footer-blog-date Jan 9, 2016
            .footer-column 
                h3.footer-heading Blog 
                .footer-images 
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                a(href="#").footer-image-more View more photos 
        .footer-bottom &coppy; 2016 Mogo free PSD template by <span> Laaqiq</span>