section.people 
    .container 
        +blockBox("happy client","what people say")
        ul.people-list 
            +peopleItem("./images/img-people1.png","Matthew dix","Graphic desgin","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut at dolorem ratione, rem, quidem minima, facilis perspiciatis ab doloribus iste beatae. Repellendus expedita similique hic inventore sapiente quidem delectus iure.")
            +peopleItem("./images/img-people2.png","Matthew dix","Graphic desgin","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut at dolorem ratione, rem, quidem minima, facilis perspiciatis ab doloribus iste beatae. Repellendus expedita similique hic inventore sapiente quidem delectus iure.")
            +peopleItem("./images/img-people3.png","Matthew dix","Graphic desgin","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut at dolorem ratione, rem, quidem minima, facilis perspiciatis ab doloribus iste beatae. Repellendus expedita similique hic inventore sapiente quidem delectus iure.")
            +peopleItem("./images/img-people4.png","Matthew 1234","Graphic desgin","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut at dolorem ratione, rem, quidem minima, facilis perspiciatis ab doloribus iste beatae. Repellendus expedita similique hic inventore sapiente quidem delectus iure.123")
            