section.story 
    .container 
        +blockBox("Our stories","Latest blog")
        ul.story-list
            +storyItem("./images/img-blog1.png","12","Jan","Lorem ipsum dolor sit","Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatum excepturi totam sed amet","542","124")         
            +storyItem("./images/img-blog2.png","12","Jan","Lorem ipsum dolor sit","Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatum excepturi totam sed amet","542","124")         
            +storyItem("./images/img-blog3.png","12","Jan","Lorem ipsum dolor sit","Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatum excepturi totam sed amet","542","1241")     
section.map 
    .container 
        .map-container
            img(src="./images/img-map-icon.png").map-icon    
            h2.map-heading Open map