section.team 
    .container 
        +blockBox("who we are","meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed officia sunt perspiciatis porro libero ut blanditiis sapiente maiores quae! Reprehenderit dolore temporibus iste corrupti excepturi id sequi, quod modi voluptas.")
        .team-list  
            +teamItem("./images/img-team1.png","Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix ","Graphic desgin")
                +teamSocial("sang1","#1")
            +teamItem("./images/img-team2.png","Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix ","Graphic desgin")
                +teamSocial("sang1","#1")
            +teamItem("./images/img-team3.png","Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix Matthew dix ","Graphic desgin")
                +teamSocial("sang1","#1")