section.work 
    .container 
        +blockBox("what we do","some of our work","ipsum dolor sit amet consectetur adipisicing elit. Esse omnis perspiciatis doloribus at, rerum sequi quam nisi excepturi amet illum, minus dolorum, magnam maiores vel quo numquam. Culpa, deleniti vel.")
    .work-list 
        .work-column    
            +workItem("./images/img-work1.png","./images/img-work-icon.png","Creatively designed ","Lorem ipsum dolor sit amet")
            +workItem("./images/img-work2.png","./images/img-work-icon.png","Creatively designed ","Lorem ipsum dolor sit amet")
        .work-column    
            +workItem("./images/img-work3.png","./images/img-work-icon.png","Creatively designed ","Lorem ipsum dolor sit amet")
            +workItem("./images/img-work4.png","./images/img-work-icon.png","Creatively designed ","Lorem ipsum dolor sit amet")
        .work-column 
            +workItem("./images/img-work5.png","./images/img-work-icon.png","Creatively designed ","Lorem ipsum dolor sit amet","work-item--full")
        .work-column    
            +workItem("./images/img-work6.png","./images/img-work-icon.png","Creatively designed ","Lorem ipsum dolor sit amet")
            +workItem("./images/img-work7.png","./images/img-work-icon.png","Creatively designed ","Lorem ipsum dolor sit amet")
            