.about {
    padding-bottom: 11rem;
    background-color: white;
    //flex-box
    // &-list{
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin-left: -3rem;
    //     &-item{
    //         margin-left: 3rem;
    //         width: calc(33.33% - 3rem);
    //     }
    // }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3rem;
        text-align: center;
    }
    @include hoverEffect(".about-list-item", ".about-content");
    &-content {
        color: white;
        text-transform: uppercase;
        padding: 2rem;
    }
    &-title {
        @include color(());
        font-size: 1.8rem;
        font-weight: bold;
        @include textClamp(2);
    }
    &-icon {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    @include maxWidth(767px) {
        padding: 3rem 0;
        .about-list {
            padding: 3rem 0;
        }
        &-title {
            font-size: 1.4rem;
        }
        &-icon {
            font-size: 1.6rem;
        }
        &-list {
            grid-auto-columns: 80%;
            grid-auto-flow: column;
            grid-template-columns: unset;
            grid-row-gap: 1.5rem;
            overflow-x: auto;
            @include hiddenCroll();
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            &-item {
                scroll-snap-align: start;
            }
        }
    }
}
