.wedo{
    padding-top: 5rem;
    padding-bottom: 11rem;
    &-image{
        margin-right: 3rem;
        object-fit: cover;
    }
    &-item-header{
        @include flexBox(center);
    }
    &-item-title{
        font-weight: 500;
        text-transform: uppercase;
        @include textClamp;
    }
    &-item-icon{
        padding-right: 1.5rem;
    }
    &-item-arrow{
        margin-left: auto;
        font-size: 3rem;
        color: $gray-dark-color;
    }
    &-item-header{
        border: 1px solid $border-color;
        padding: 1.5rem;
        cursor: pointer;
    }
    &-item-text{
        padding: 2rem;
        font-family: $secondary-font;
        font-style: italic;
        color: $text-color;
        font-weight: 300;
        line-height: 1.6;
        border-top: 0;
        font-weight: 300;
        font-size: 1.6rem;
        border: 1px solid $border-color;
        border-top: 0;
        display: none;
    }
    &-item-content{
        height: 14rem;
        overflow-y: auto;
        padding-right: 2rem;
        &::-webkit-scrollbar {
            width: 0.6rem;
          }
           
          &::-webkit-scrollbar-track {
            background-color: $gray-light;
            border-radius: 20rem;
        }
           
          &::-webkit-scrollbar-thumb {
            background-color: $third-color;
            border-radius: 20rem;
          }
    }
    &-item:not(:last-child){
        margin-bottom: 1.2rem;
    }
    &-item.is-active .wedo-item-text {
        display: block;
    }
    @include minWidth(768px){
        &-container{
            @include flexBox(stretch,space-between);
        }
        &-image, &-content{
            width: calc(50% - 1.5rem);
        }
    }
    @include maxWidth(767px){
        padding: 5rem 0;
        &-image{
            margin-bottom: 1rem;
        }
    }
}